<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.DynamicPraiseDao">

	<insert id="add" parameterType="cn.dlj.app.entity.DynamicPraise" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into t_dynamic_praise(dynamicId,userId)
		values(#{dynamicId},#{userId})
	</insert>
	
	<delete id="del">
		delete from t_dynamic_praise where dynamicId=#{dynamicId} and userId=#{userId}
	</delete>
	
	<select id="getByDynamicId" resultType="cn.dlj.app.entity.DynamicPraise">
		select 	dp.* ,
				u.name 				as "userName"
		from t_dynamic_praise dp
		left join t_user u on u.id=dp.userId
		<where> 
			dp.dynamicId = #{dynamicId}
		</where>
	</select>
	
</mapper>
