<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.GroupDao">

	<insert id="add" parameterType="cn.dlj.app.entity.Group" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into t_group(name,introduction,headImg)
		values(#{name},#{introduction},#{headImg})
	</insert>
	
	<select id="findById" resultType="cn.dlj.app.entity.Group">
		select
				g.id 					as "id",
				g.name 					as "name",
				g.introduction 			as "introduction",
				g.headImg 				as "headImg"
		from t_group g
		<where>
			g.id = #{id}
		</where>
	</select>
	
	<select id="findByUserId" resultType="cn.dlj.app.entity.Group">
		select
				g.id 					as "id",
				g.name 					as "name",
				g.introduction 			as "introduction",
				g.headImg 				as "headImg"
		from t_group_user_relation r
		left join t_group g on g.id = r.groupId
		<where>
			r.userId=#{userId}
		</where>
	</select>
	
</mapper>
