<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.MessageListDao">

	<insert id="add" parameterType="cn.dlj.app.entity.MessageList" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into t_message_list(userId,friendId,num,lastTime,content,contentEncrypt,groupId,type)
		values(#{userId},#{friendId},#{num},#{lastTime},#{content},#{contentEncrypt},#{groupId},#{type})
	</insert>
	
	<update id="update" parameterType="cn.dlj.app.entity.MessageList" >
		update t_message_list set
			num= #{num},
			lastTime= #{lastTime}, 
			content= #{content},
			contentEncrypt= #{contentEncrypt} 
		where userId=#{userId} and friendId=#{friendId}
	</update>
	
	<update id="updateByUserIdAndGroupId" parameterType="cn.dlj.app.entity.MessageList" >
		update t_message_list set
			num= #{num},
			lastTime= #{lastTime}, 
			content= #{content},
			contentEncrypt= #{contentEncrypt} 
		where userId=#{userId} and groupId=#{groupId}
	</update>
	
	<delete id="del">
		delete from t_message_list where userId=#{userId} and friendId=#{friendId}
	</delete>
	
	<select id="findByUserIdAndFriendId" resultType="cn.dlj.app.entity.MessageList">
		select
				id 					as "id",
				userId 				as "userId",
				friendId 			as "friendId",
				num 				as "num",
				lastTime 			as "lastTime",
				type 				as "type",
				groupId 			as "groupId",
				contentEncrypt 		as "contentEncrypt",
				content				as "content"
		from t_message_list
		<where>
			userId=#{userId} and friendId=#{friendId}
		</where>
	</select>
	
	<select id="findByUserIdAndGroupId" resultType="cn.dlj.app.entity.MessageList">
		select
				id 					as "id",
				userId 				as "userId",
				friendId 			as "friendId",
				num 				as "num",
				lastTime 			as "lastTime",
				type 				as "type",
				groupId 			as "groupId",
				contentEncrypt 		as "contentEncrypt",
				content				as "content"
		from t_message_list
		<where>
			userId=#{userId} and groupId=#{groupId}
		</where>
	</select>
	
	<select id="findByUserId" resultType="cn.dlj.app.entity.MessageList">
		select
				m.id 					as "id",
				m.userId 				as "userId",
				m.friendId 				as "friendId",
				m.num 					as "num",
				m.lastTime 				as "lastTime",
				m.content				as "content",
				m.type 					as "type",
				m.groupId 				as "groupId",
				m.contentEncrypt		as "contentEncrypt",
				u.name					as "friendName",
				u.headImg				as "friendHeadImg",
				g.name					as "groupName",
				g.headImg				as "groupHeadImg"
		from t_message_list m
		left join t_user u on u.id = m.friendId
		left join t_group g on g.id = m.groupId
		<where>
			m.userId=#{userId}
		</where>
		order by m.lastTime desc
	</select>
	
	
</mapper>
