<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dlj.app.dao.UserDao">

	<insert id="add" parameterType="cn.dlj.app.entity.User" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
		insert into t_user(username,pwd,phone,name)
		values(#{username},#{pwd},#{phone},#{name})
	</insert>
	
	<update id="update" parameterType="cn.dlj.app.entity.User" >
		update t_user set
			username= #{username},
			pwd= #{pwd}, 
			name= #{name}, 
			sex= #{sex}, 
			phone = #{phone}, 
			organization= #{organization}, 
			signature= #{signature}, 
			lockPwd= #{lockPwd}, 
			headImg= #{headImg}
		where id=#{id}
	</update>
	
	<select id="getByUsername" resultType="cn.dlj.app.entity.User">
		select
				id 					as "id",
				username 			as "username",
				pwd 				as "pwd",
				name 				as "name",
				sex 				as "sex",
				phone				as "phone",
				organization		as "organization",
				signature			as "signature",
				lockPwd				as "lockPwd",
				headImg				as "headImg"
		from t_user
		<where>
			username=#{username}
		</where>
	</select>
	
	<select id="getByUsernameOrPhone" resultType="cn.dlj.app.entity.User">
		select
				id 					as "id",
				username 			as "username",
				pwd 				as "pwd",
				name 				as "name",
				sex 				as "sex",
				phone				as "phone",
				organization		as "organization",
				signature			as "signature",
				lockPwd				as "lockPwd",
				headImg				as "headImg"
		from t_user
		<where>
			username=#{content} or phone=#{content}
		</where>
	</select>
	
</mapper>
